# virtual environment
.venv/
.env

# python cache
__pycache__/
*.pyc

# raw and processed datasets - never push to GitHub
data/raw/**
data/processed/**
*.parquet
*.zip
*.7z
*.pkl
*.joblib

# notebooks
.ipynb_checkpoints/

# system
.DS_Store
Thumbs.db
